################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Luk/obj/Debug
.vs/Luk/v14
*.zip
